/* CSS */
* { 
    /* width: auto;
    height: auto;  */
    margin: 0;
    padding: 0;
}
div {
    font-size: 1.6rem;
}

:root {
    font-size: 62,5%;
}

#logo {
    padding-bottom: 10px;
}
 
nav {
    height: auto;
    margin-bottom: 40px;
}
.navbar-brand {
    width: 25px;
    height: 25px;
}

#navbarContent{
    justify-content: end;
}

#logo__basket{
    width: 25px;
    height: 25px;
    padding-bottom: 5px;
    
}

.title {
    padding: 40px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40vw;
    margin: 20px 15px 20px 15px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.card-img-top{
    border-radius: 20px 20px 0 0 ;
}

.card-body {
    text-align: center;
}
.product-container {
   min-height: 80vh;

}

#card-product {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 50vw;
    align-items: center;
    margin: auto;
    justify-content: center;
    max-height: auto;
 
}

#imgProduit {
    height: auto;
    width: 50%;
    border-radius: 20px 0 0 20px;
}

.container-recapitulatif {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    /* background-color: rgb(56, 56, 52); */
    margin:0;
    padding:10px;
    border-radius: 5px;
    text-align: initial;
   
}

.container-montant-total {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    background-color: palevioletred; 
}

.container-panier-vide {
    width: auto;
    background-color: tomato;
    text-align: center;
}

/* 
.product-container-panier {
    display: flex;
    flex-direction: column;

} */



/* .panier-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-container-panier-vide {
    background-color:moccasin;
    text-align: center;
     
}
.total{
    justify-content: start;
} */

footer {
    margin-top: 53px;
}


@media screen and (max-width: 425px) {

    .title {
        padding: 10px;
    }
    .card {
        width: 100%;
    }
}
