/* CSS */
html { 
    width: auto;
    height: auto; 
}

#logo {
    padding-bottom: 10px;
}

nav {
    height: auto;
    margin-bottom: 40px;
}
.navbar-brand {
    width: 25px;
    height: 25px;
}

#navbarContent{
    justify-content: end;
}

#logo__basket{
    width: 25px;
    height: 25px;
    padding-bottom: 5px;
    
}

.title {
    padding: 40px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40vw;
    margin: 20px 15px 20px 15px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.card-img-top{
    border-radius: 20px 20px 0 0 ;
}

.card-body {
    text-align: center;
}
.product-container {
   min-height: 80vh;

}

#card-product {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 50vw;
    align-items: center;
    margin: auto;
    justify-content: center;
    max-height: auto;
 
}

#imgProduit {
    height: auto;
    width: 50%;
    border-radius: 20px 0 0 20px;
}



footer {
    margin-top: 53px;
}


@media screen and (max-width: 425px) {

    .title {
        padding: 10px;
    }
    .card {
        width: 100%;
    }
}
